@model Sinefil.Models.Data.Class.Film

@{
    ViewBag.Title = "Details";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h2>@Model.Title</h2>
                <img src="@Model.ImgUrl" class="img-fluid mb-3" alt="@Model.Title" />
                <p><strong>Ortalama Puan:@ViewBag.AverageRating.ToString("0.0")</strong></p>
                <p><strong>Yönetmen:</strong> @Model.Director</p>
                <p><strong>Yıl:</strong> @Model.Year</p>
                <p><strong>Tür:</strong> @Model.Genre</p>
                <p>@Model.Description</p>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h4>Comments</h4>
                    <p class="mb-3"><strong>Yorum Sayısı:</strong>@ViewBag.ReviewCount</p>
                    @if (Model.Reviews != null && Model.Reviews.Any())
                    {
                        foreach (var review in Model.Reviews)
                        {
                            <div class="border-bottom mb-3 pb-2 text-start">

                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <p><strong>@review.User?.Username</strong><small class="text-muted">(@review.CreateAt.ToShortDateString())</small></p>
                                   
                                    @if (review.UserId == (int?)ViewBag.UserId)
                                    {
                                        <div class="d-flex justify-content-end gap-2">
                                            <a asp-action="EditReview" asp-route-id="@review.ReviewId" class="btn btn-warning btn-sm">Edit</a>
                                            <form asp-action="DeleteReview" asp-controller="Film" method="post">
                                                <input  type="hidden" name="id" value="@review.ReviewId"/>
                                                <button type="submit" class="btn btn-danger btn-sm" onClick="return confirm ('Bu yorumu silmek istediğinize emin misiniz?')">Delete</button>
                                            </form>
                                        </div>
                                    }
                                </div>
                                <p><strong>Rating:</strong> @review.Rating</p>
                                <p><strong>Comment:</strong>@review.Comment</p>

                            </div>

                        }

                    }
                    else
                    {
                        <p>Henüz yorum yapılmamış</p>
                    }

                    <div class=" d-flex justify-content-end mt-2">
                        <a asp-action="AddReview" asp-route-id="@Model.FilmId" class="btn btn-primary mt-3">Add Comment</a>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>

</div>